---
const businessName = "Core Health";
---

<html lang="en" class="bg-gray-50">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{businessName}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet"
        />
        <script
            src="https://kit.fontawesome.com/5cb9dec18e.js"
            crossorigin="anonymous"></script>
    </head>
    <body
        class="text-center font-sans font-normal text-balance grid grid-rows-[auto_1fr_auto] gap-4 h-screen"
    >
        <section
            id="hero-wrapper"
            class="text-2xl
		 				h-screen max-w-screen max-h-screen
						bg-[url('/blood-test.png')] bg-cover bg-center
						sm:sm:bg-right-top sm:bg-[url('/blood-test.png')]"
        >
            <header
                class="flex flex-col text-2xl p-2 h-25 bg-white bg-opacity-40 sm:flex-row sm:justify-between"
            >
                <img
                    src="/chc-logo-nobg.svg"
                    alt=""
                    class="object-cover h-full w-5/6 sm:w-80"
                />
                <nav class="flex justify-between gap-3">
                    <div>About Us</div>
                    <div>Contact</div>
                    <div>Blog</div>
                </nav>
            </header>

            <main
                id="brand-intro"
                class="grid grid-rows-[auto_1fr_auto] h-5/6 sm:h-[90%]"
            >
                <div
                    id="brand-intro__text"
                    class="text-center w-full font-semibold bg-white bg-opacity-60
                            sm:w-1/2 sm:p-3 sm:text-left sm:self-center"
                >
                    <h1 class="font-bold text-5xl text-cyan-600">
                        Reviewing Healthcare
                    </h1>
                    <p class="font-serif">
                        Core Health Concepts is a research and development
                        service focused on healthcare testing reviews.
                    </p>
                </div>
                <button
                    id="learn-more-btn"
                    class="w-2/3 text-center bg-[#fff] mx-auto p-3 bg-opacity-70
                    border-solid border-2 border-cyan-200 rounded-md sm:w-1/3 self-end"
                >
                    <h2 class="text-3xl font-medium sm:text-5xl">
                        <a href="#learn-more"
                            >Learn More <i class="fa-solid fa-chevron-down"></i>
                        </a>
                    </h2>
                </button>
            </main>
        </section>
        <section id="learn-more" class="bg-gray-50">
            <div class="">
                <h1 class="font-bold text-3xl">The Impact We Make</h1>
                <p class="text-xl">
                    As healthcare evolves to emphasize root cause analysis, more
                    tests are available through functional medicine—often at
                    high costs and not always covered by insurance.
                </p>
            </div>
            <div class="">
                <h1 class="text-3xl font-bold">Our Mission</h1>
                <p class="text-xl">
                    Our mission is to identify the most comprehensive and
                    effective testing options to detect health issues early,
                    preventing them from becoming severe, all while offering the
                    most affordable pricing.
                </p>
            </div>
        </section>
        <footer class="flex flex-col sm:flex-row gap-3 justify-between mt-4">
            <button class="order-0"> Sign Up For our Newsletter </button>
            <img
                src="/chc-logo-nobg.svg"
                alt=""
                class="object-cover h-full w-5/6 order-2 m-auto
					sm:w-80 sm:order-1"
            />
            <h1 class="order-1">Follow us Social Media</h1>
        </footer>
    </body>
</html>
